{% load static %}

<!DOCTYPE html> <html lang="en"> <head> <meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, initial-scale=1.0">

<title>
    {% block title %}LMS{% endblock %}
</title>

<link rel="stylesheet"
      href="{% static 'css/style.css' %}">
      {% block extra_css %}{% endblock %}

</head> <body>

<header class="header">

    <div class="header-container">

        <a href="/" class="project-name">
            Learning Management System
        </a>

        {% if request.user.is_authenticated %}

            <form method="post" action="{% url 'logout' %}">

                {% csrf_token %}

                <button type="submit" class="logout-btn">
                    Logout
                </button>

            </form>

        {% endif %}

    </div>

</header>


<main class="main-content">

    {% block content %}
    {% endblock %}

</main>



<footer class="footer">

    <p>
        © {% now "Y" %} Learning Management System
    </p>

</footer>

</body> </html>